.row {
	margin: 0;
}

.validation__text__wrap .validation__text {
	padding-top: 5px;
	color: #ef6600;
	display: inline-block;
	font-size: 12px;
}

.validation__text__wrap .validation__text.agree {
	color: #666666;
}

@media all and (min-width: 721px) {
	.validation__text__wrap .validation__text {
		padding-top: 10px;
		font-size: 14px;
	}
}

.form--focus .notice__text {
	display: block;
}

.notice__text {
	padding-top: 4px;
	display: none;
	font-size: 12px;
}

@media all and (min-width: 721px) {
	.notice__text {
		padding-top: 10px;
		font-size: 14px;
	}
}

.info__text {
	padding-top: 4px;
	font-size: 14px;
	line-height: 23px;
	color: #666666;
}

@media all and (min-width: 721px) {
	.info__text {
		font-size: 16px;
		line-height: 25px;
		padding-top: 10px;
	}
}

.info__list li {
	color: #666;
	position: relative;
	font-size: 14px;
	line-height: 23px;
	padding-left: 10px;
}

.info__list li:before {
	content: "";
	position: absolute;
	left: 0;
	top: 10px;
	width: 3px;
	height: 3px;
	background: #666;
}

@media all and (min-width: 721px) {
	.info__list li {
		font-size: 16px;
		line-height: 25px;
	}
}

.info__link {
	display: inline-block;
	color: #ef6600;
	position: relative;
	padding-right: 12px;
	font-weight: 500;
}

.info__link:hover, .info__link:focus {
	color: #ef6600;
}

.info__link:after {
	content: "";
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -5px;
	width: 10px;
	height: 10px;
	transform: rotate(-45deg);
	border-right: 2px solid #ef6600;
	border-bottom: 2px solid #ef6600;
}

@media all and (min-width: 721px) {
	.fileWrap {
		position: relative;
	}
}

.fileWrap .file--focus {
	outline: 1px dotted #000;
}

.fileWrap .input:first-child {
	padding-bottom: 10px;
}

@media all and (min-width: 721px) {
	.fileWrap .input:first-child {
		padding-bottom: 0;
		padding-right: 160px;
	}
}

.fileWrap .input:first-child .o-input--text[readonly], .fileWrap .input:first-child .o-input--text[disabled] {
	background-color: #f5f5f5 !important;
	border: 1px solid #f5f5f5 !important;
	color: #000 !important;
}

.fileWrap .input__file {
	position: relative;
}

@media all and (min-width: 721px) {
	.fileWrap .input__file {
		position: absolute;
		top: 0;
		right: 0;
		width: 160px;
		height: 100%;
	}
}

.fileWrap .input__file .file-upload {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	opacity: 0;
	cursor: pointer;
}

.fileWrap .input__file .file-upload:focus + .file-label {
	outline: 1px dotted #000;
}

.o-input {
	border: 0;
	border-radius: 0;
	box-sizing: border-box;
	vertical-align: middle;
	-webkit-appearance: none;
}

.o-input--text, .o-input--password, .o-input--tel, .o-input--email, .o-input--date, .o-input--number {
	width: 100%;
	height: 40px;
	padding: 0 15px;
	position: relative;
	z-index: 1;
	outline: none;
	font-size: 14px;
	line-height: 40px;
	background-color: #f5f5f5;
	border: 1px solid #f5f5f5;
	color: #000;
	text-align: left;
}

@media all and (min-width: 721px) {
	.o-input--text, .o-input--password, .o-input--tel, .o-input--email, .o-input--date, .o-input--number {
		padding: 0 20px;
		height: 44px;
		font-size: 16px;
		line-height: 44px;
	}
}

.o-input--text:focus, .o-input--password:focus, .o-input--tel:focus, .o-input--email:focus, .o-input--date:focus, .o-input--number:focus {
	border-color: #333;
	background-color: #fff;
}

.o-input--text[disabled], .o-input--text[readonly], .o-input--password[disabled], .o-input--password[readonly], .o-input--tel[disabled], .o-input--tel[readonly], .o-input--email[disabled], .o-input--email[readonly], .o-input--date[disabled], .o-input--date[readonly], .o-input--number[disabled], .o-input--number[readonly] {
	background-color: #e6e6e6 !important;
	border-color: #bbb !important;
	color: #666 !important;
}

.o-input--text::-ms-clear, .o-input--password::-ms-clear, .o-input--tel::-ms-clear, .o-input--email::-ms-clear, .o-input--date::-ms-clear, .o-input--number::-ms-clear {
	display: none !important;
}

.o-input--number {
	padding: 0 15px;
}

.o-input--number::-webkit-outer-spin-button, .o-input--number::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

@media all and (min-width: 721px) {
	.o-input--number {
		padding: 0 20px;
	}
}

.o-input--date {
	padding-right: 43px;
	background-image: url("./images/form.png");
	background-repeat: no-repeat;
	background-position: right 11px top -93px;
	background-size: 20px auto;
}

@media all and (min-width: 721px) {
	.o-input--date {
		padding-right: 52px;
		background-position: right 15px top -131px;
		background-size: 27px auto;
	}
}

.is-printReady .print__container .o-input--date {
	background-position: 96% -93px;
}

@media all and (min-width: 721px) {
	.is-printReady .print__container .o-input--date {
		background-position: 96% -131px;
	}
}

.o-input--textarea {
	width: 100%;
	min-height: 160px;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
	background-color: #f5f5f5;
	border: 1px solid #f5f5f5;
	resize: none;
}

.o-input--textarea:focus {
	border-color: #000;
	background-color: #fff;
}

.o-input--textarea[disabled], .o-input--textarea[readonly] {
	background-color: #e6e6e6 !important;
	border-color: #bbb !important;
	color: #666 !important;
}

@media all and (min-width: 721px) {
	.o-input--textarea {
		font-size: 16px;
	}
}

.input {
	font-size: 0;
}

.input__wrap {
	position: relative;
}

.input__wrap label {
	vertical-align: middle;
}

.input__item {
	display: inline-block;
}

.input__item:last-child label {
	margin-right: 0;
}

.input__placeholder {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	padding: 0 15px;
	color: #666666;
	font-size: 14px;
	line-height: 40px;
	pointer-events: none;
}

@media all and (min-width: 721px) {
	.input__placeholder {
		padding: 0 20px;
		font-size: 16px;
		line-height: 44px;
	}
}

.input__placeholder.screen--out {
	top: -9999px;
	left: -9999px;
}

.input__removetext {
	display: none;
	z-index: 1;
	position: absolute;
	right: 0;
	top: 0;
	text-indent: -9999px;
	width: 26px;
	height: 40px;
	overflow: hidden;
	box-sizing: content-box;
}

@media all and (min-width: 721px) {
	.input__removetext {
		width: 60px;
		height: 44px;
	}
}

.input__removetext:before, .input__removetext:after {
	display: block;
	position: absolute;
	top: 50%;
	right: 10px;
	width: 10px;
	height: 1px;
	background-color: #333;
	content: "";
}

@media all and (min-width: 721px) {
	.input__removetext:before, .input__removetext:after {
		right: 20px;
		width: 15px;
	}
}

.input__removetext:before {
	-webkit-transform: rotate(45deg);
	-khtml-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.input__removetext:after {
	-webkit-transform: rotate(135deg);
	-khtml-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

.input--2 .o-input--text, .input--2 .o-input--password, .input--2 .o-input--tel, .input--2 .o-input--email, .input--2 .o-input--date, .input--2 .o-input--number {
	border-color: #bcbcbc;
	height: 25px;
	padding: 0 10px;
	font-size: 11px;
	line-height: 23px;
	background-color: #fff;
}

@media all and (min-width: 721px) {
	.input--2 .o-input--text, .input--2 .o-input--password, .input--2 .o-input--tel, .input--2 .o-input--email, .input--2 .o-input--date, .input--2 .o-input--number {
		height: 36px;
		padding: 0 15px;
		font-size: 16px;
		line-height: 34px;
	}
}

.input--2 .o-input--date {
	padding-right: 34px;
	background-position: right 7px top -101px;
}

@media all and (min-width: 721px) {
	.input--2 .o-input--date {
		padding-right: 46px;
		background-position: right 10px top -135px;
	}
}

.is-printReady .print__container .input--2 .o-input--date {
	background-position: 96% -101px;
}

@media all and (min-width: 721px) {
	.is-printReady .print__container .input--2 .o-input--date {
		background-position: 96% -135px;
	}
}

.input--2 .input__placeholder {
	padding: 0 10px;
	font-size: 11px;
	color: #999;
	line-height: 23px;
}

@media all and (min-width: 721px) {
	.input--2 .input__placeholder {
		padding: 0 15px;
		font-size: 16px;
		line-height: 34px;
	}
}

.required__text__wrap {
	display: none;
}

.required__text__wrap .required__text {
	padding-top: 6px;
	padding-left: 18px;
	position: relative;
	font-size: 12px;
}

@media all and (min-width: 721px) {
	.required__text__wrap .required__text {
		font-size: 14px;
	}
}

.required__text__wrap .required__text:before {
	content: "";
	position: absolute;
	left: 0;
}

.required__text__wrap .required__text.dot {
	color: #ef6600;
}

.required__text__wrap .required__text.dot:before {
	position: absolute;
	top: 13px;
	left: 6px;
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background-color: #ef6600;
	content: "";
}

@media all and (min-width: 721px) {
	.required__text__wrap .required__text.dot:before {
		top: 14px;
	}
}

.required__text__wrap .required__text.check {
	color: #000;
}

.required__text__wrap .required__text.check:before, .required__text__wrap .required__text.check:after {
	display: block;
	position: absolute;
	top: 50%;
	height: 1px;
	background-color: #333;
	content: "";
}

.required__text__wrap .required__text.check:before {
	left: 0;
	width: 6px;
	margin-top: 4px;
	-webkit-transform: rotate(45deg);
	-khtml-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.required__text__wrap .required__text.check:after {
	left: 3px;
	width: 11px;
	margin-top: 2px;
	-webkit-transform: rotate(135deg);
	-khtml-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}

.form--success.input__wrap .o-input {
	border-color: #1b65b3 !important;
	background-color: #fff !important;
}

.form--success.input__wrap .o-input--text, .form--success.input__wrap .o-input--password, .form--success.input__wrap .o-input--tel, .form--success.input__wrap .o-input--email, .form--success.input__wrap .o-input--date, .form--success.input__wrap .o-input--number {
	padding-right: 35px;
}

@media all and (min-width: 721px) {
	.form--success.input__wrap .o-input--text, .form--success.input__wrap .o-input--password, .form--success.input__wrap .o-input--tel, .form--success.input__wrap .o-input--email, .form--success.input__wrap .o-input--date, .form--success.input__wrap .o-input--number {
		padding-right: 50px;
	}
}

.form--success.input__wrap .o-input:read-only {
	background-color: #e6e6e6 !important;
	border-color: #bbb !important;
}

.form--success.input__wrap:after {
	content: "";
	position: absolute;
	top: 11px;
	right: 10px;
	z-index: 1;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background: #1b65b3 url("./images/form.png") no-repeat 1px -13px;
	background-size: 15px auto;
}

@media all and (min-width: 721px) {
	.form--success.input__wrap:after {
		top: 12px;
		right: 20px;
		width: 20px;
		height: 20px;
		background-position: 1px -15px;
		background-size: 17px auto;
	}
}

.form--success.input__wrap--date:after {
	display: none;
}

.form--success .validation__text {
	color: #1b65b3;
}

.form--warning.input__wrap .o-input {
	background-color: #ffffff !important;
	border: 1px solid #ef6600 !important;
}

.form--warning.input__wrap .o-input:read-only {
	background-color: #e6e6e6 !important;
}

.form--warning.select__wrap .combobox__button,
.form--warning.select__wrap .ui-select__combo {
	background-color: #ffffff !important;
	border: 1px solid #ef6600 !important;
}

.form--warning + .validation__text {
	color: #ef6600;
}

.required-text {
	color: #ef6600;
}

@media all and (min-width: 721px) {
	.required-text {
		font-size: 16px;
	}
}

.row {
	padding-bottom: 20px;
	font-size: 14px;
}

.row:after {
	content: '';
	display: block;
	clear: both;
}

@media all and (min-width: 721px) {
	.row {
		font-size: 16px;
	}
}

.row:last-child {
	padding-bottom: 0;
}

.row__label {
	display: inline-block;
	font-size: 15px;
	word-break: normal;
	font-weight: 500;
}

@media all and (min-width: 721px) {
	.row__label {
		font-size: 18px;
	}
}

.row.no-pb {
	padding-bottom: 0 !important;
}

.col {
	padding-top: 10px;
}

.col:after {
	content: '';
	display: block;
	clear: both;
}

@media all and (min-width: 721px) {
	.col:after {
		content: '';
		display: block;
		clear: both;
	}
	.col.col--2 .col__item {
		width: 50%;
	}
	.col.col--3 .col__item {
		width: 33.33%;
	}
	.col.col--mob .col__item {
		width: 40%;
	}
	.col.col--mob .col__item:first-child {
		width: 20%;
	}
}

.col .col__item {
	width: 100%;
	padding-top: 10px;
}

.col .col__item:first-child {
	padding-top: 0;
}

@media all and (min-width: 721px) {
	.col .col__item {
		float: left;
		border-left: 2px solid #ffffff;
		padding-top: 0;
	}
	.col .col__item:first-child {
		border-left: none;
	}
}

.calendar__wrap:after {
	content: '';
	display: block;
	clear: both;
}

.calendar__wrap .one .date-picker-wrapper {
	width: 100%;
	color: inherit;
	background-color: #fff;
	position: absolute;
	top: 39px;
	left: 0;
	padding: 17px 24px 38px;
	z-index: 100;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

@media all and (min-width: 721px) {
	.calendar__wrap .one .date-picker-wrapper {
		top: 43px;
		padding: 18px 0 30px;
		border: 1px solid #ccc;
	}
}

.calendar__wrap .one .date-picker-wrapper.align-right {
	left: auto;
	right: 0;
}

.calendar__wrap .one .date-picker-wrapper.single-date .hovering, .calendar__wrap .one .date-picker-wrapper.single-date .first-date-selected {
	border-radius: 15px !important;
}

@media all and (min-width: 721px) {
	.calendar__wrap .one .date-picker-wrapper.single-month {
		width: auto;
	}
}

@media all and (min-width: 721px) {
	.calendar__wrap .one .date-picker-wrapper.single-month .month-wrapper {
		padding: 0 25px;
	}
}

@media all and (min-width: 721px) {
	.calendar__wrap .one .date-picker-wrapper.two-months {
		width: 491px;
	}
}

@media all and (min-width: 721px) {
	.calendar__wrap .one .date-picker-wrapper.two-months .month--1 {
		float: left;
	}
	.calendar__wrap .one .date-picker-wrapper.two-months .month--2 {
		float: right;
	}
}

@media all and (min-width: 721px) {
	.calendar__wrap .one .date-picker-wrapper.two-months .month-wrapper {
		overflow: hidden;
		position: relative;
		width: 437px;
	}
	.calendar__wrap .one .date-picker-wrapper.two-months .month-wrapper:before {
		display: block;
		position: absolute;
		top: 12px;
		left: 50%;
		width: 1px;
		height: 100%;
		background-color: #e6e6e6;
		content: "";
	}
}

.calendar__wrap .one .month-wrapper {
	margin: 0 auto;
}

.calendar__wrap .one .month-wrapper:after {
	content: '';
	display: block;
	clear: both;
}

.calendar__wrap .one .month-wrapper table {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	border-spacing: 1px;
}

.calendar__wrap .one .month-wrapper table th, .calendar__wrap .one .month-wrapper table td {
	font-size: 14px;
	text-align: center;
	width: 40px;
	white-space: nowrap;
	cursor: pointer;
}

.calendar__wrap .one .month-wrapper table th {
	line-height: 35px;
	text-transform: capitalize;
	font-weight: 500;
}

@media all and (min-width: 721px) {
	.calendar__wrap .one .month-wrapper table th {
		padding-bottom: 0;
		line-height: 24px;
	}
}

.calendar__wrap .one .month-wrapper table td {
	padding: 3px 0;
	border-bottom: 1px solid #fff;
}

@media all and (min-width: 721px) {
	.calendar__wrap .one .month-wrapper table td {
		padding: 0;
	}
}

.calendar__wrap .one .month-wrapper table td:first-child .day.toMonth.valid {
	color: #ef6600 !important;
}

.calendar__wrap .one .month-wrapper table td:first-child .day.toMonth.valid.hovering, .calendar__wrap .one .month-wrapper table td:first-child .day.toMonth.real-today.checked, .calendar__wrap .one .month-wrapper table td:first-child .day.toMonth.real-today.hovering, .calendar__wrap .one .month-wrapper table td:first-child .day.toMonth.valid.checked {
	background-color: #1b65b3 !important;
	color: #fff !important;
}

.calendar__wrap .one .month-wrapper table td:first-child .day.toMonth.valid {
	color: #ef6600 !important;
}

.calendar__wrap .one .month-wrapper table td:first-child .day.toMonth.valid.day--exclude {
	color: #c5c5c5 !important;
}

.calendar__wrap .one .month-wrapper table td:first-child .day.checked.first-date-selected, .calendar__wrap .one .month-wrapper table td:first-child .day.checked.last-date-selected {
	background-color: #1b65b3 !important;
	color: #fff !important;
}

.calendar__wrap .one .month-wrapper .day {
	color: #c5c5c5;
	background-color: #fff;
	height: 29px;
	font-size: 14px;
	line-height: 29px;
}

@media all and (min-width: 721px) {
	.calendar__wrap .one .month-wrapper .day {
		height: 24px;
		font-size: 13px;
		line-height: 24px;
	}
}

.calendar__wrap .one .month-wrapper .day.toMonth.hovering, .calendar__wrap .one .month-wrapper .day.real-today.checked, .calendar__wrap .one .month-wrapper .day.real-today.hovering, .calendar__wrap .one .month-wrapper .day.checked {
	font-weight: 500;
	background-color: #1b65b3 !important;
	color: #fff !important;
}

.calendar__wrap .one .month-wrapper .day.hovering--last {
	border-radius: 0 15px 15px 0;
}

.calendar__wrap .one .month-wrapper .day.toMonth.valid {
	background-color: #fff;
	color: #000;
}

.calendar__wrap .one .month-wrapper .day.toMonth.day--exclude {
	color: #c5c5c5 !important;
}

.calendar__wrap .one .month-wrapper .day.checked.first-date-selected, .calendar__wrap .one .month-wrapper .day.checked.last-date-selected {
	background-color: #1b65b3 !important;
	color: #fff !important;
}

.calendar__wrap .one .month-wrapper .day.checked.first-date-selected {
	border-radius: 15px 0 0 15px;
}

.calendar__wrap .one .month-wrapper .day.checked.last-date-selected {
	border-radius: 0 15px 15px 0;
}

.calendar__wrap .one .month-wrapper .day.nextMonth, .calendar__wrap .one .month-wrapper .day.lastMonth {
	display: none;
}

.calendar__wrap .one .month-wrapper .month {
	position: relative;
	padding-top: 24px;
}

@media all and (min-width: 721px) {
	.calendar__wrap .one .month-wrapper .month {
		width: 203px;
		padding-top: 6px;
	}
}

.calendar__wrap .one .month-wrapper .month-name {
	padding-bottom: 5px;
	font-size: 17px;
	color: #333;
}

@media all and (min-width: 721px) {
	.calendar__wrap .one .month-wrapper .month-name {
		font-size: 14px;
	}
}

.calendar__wrap .one .month-wrapper .month-element {
	display: inline-block;
	margin: 0 3px;
	font-size: 17px;
	font-weight: 500;
}

@media all and (min-width: 721px) {
	.calendar__wrap .one .month-wrapper .month-element {
		font-size: 14px;
	}
}

.calendar__wrap .one .month-wrapper .prev, .calendar__wrap .one .month-wrapper .next {
	display: block;
	position: absolute;
	top: 22px;
	z-index: 1;
	width: 40px;
	height: 40px;
	text-align: center;
	border: 0;
	border-radius: 0;
	background: transparent;
	color: #222;
	letter-spacing: -1px;
	vertical-align: top;
	appearance: none;
}

.calendar__wrap .one .month-wrapper .prev span, .calendar__wrap .one .month-wrapper .next span {
	white-space: nowrap;
}

.calendar__wrap .one .month-wrapper .prev[disabled], .calendar__wrap .one .month-wrapper .prev.is-disabled, .calendar__wrap .one .month-wrapper .next[disabled], .calendar__wrap .one .month-wrapper .next.is-disabled {
	cursor: default;
}

@media all and (min-width: 721px) {
	.calendar__wrap .one .month-wrapper .prev, .calendar__wrap .one .month-wrapper .next {
		top: 0;
		width: 30px;
		height: 38px;
	}
}

.calendar__wrap .one .month-wrapper .prev:before, .calendar__wrap .one .month-wrapper .prev:after, .calendar__wrap .one .month-wrapper .next:before, .calendar__wrap .one .month-wrapper .next:after {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 12px;
	height: 2px;
	background-color: #333;
	content: '';
}

@media all and (min-width: 721px) {
	.calendar__wrap .one .month-wrapper .prev:before, .calendar__wrap .one .month-wrapper .prev:after, .calendar__wrap .one .month-wrapper .next:before, .calendar__wrap .one .month-wrapper .next:after {
		width: 10px;
	}
}

.calendar__wrap .one .month-wrapper .prev[disabled]:before, .calendar__wrap .one .month-wrapper .prev[disabled]:after, .calendar__wrap .one .month-wrapper .next[disabled]:before, .calendar__wrap .one .month-wrapper .next[disabled]:after {
	background-color: #bbb;
}

.calendar__wrap .one .month-wrapper .prev {
	left: 0;
}

.calendar__wrap .one .month-wrapper .prev:before {
	transform: rotate(-45deg);
	margin-top: -5px;
	margin-left: -6px;
}

@media all and (min-width: 721px) {
	.calendar__wrap .one .month-wrapper .prev:before {
		margin-top: -4px;
		margin-left: -5px;
	}
}

.calendar__wrap .one .month-wrapper .prev:after {
	transform: rotate(45deg);
	margin-top: 3px;
	margin-left: -6px;
}

@media all and (min-width: 721px) {
	.calendar__wrap .one .month-wrapper .prev:after {
		margin-top: 2px;
		margin-left: -5px;
	}
}

.calendar__wrap .one .month-wrapper .next {
	right: 0;
}

.calendar__wrap .one .month-wrapper .next:before {
	transform: rotate(-45deg);
	margin-top: 3px;
	margin-left: -6px;
}

@media all and (min-width: 721px) {
	.calendar__wrap .one .month-wrapper .next:before {
		margin-top: 2px;
		margin-left: -5px;
	}
}

.calendar__wrap .one .month-wrapper .next:after {
	transform: rotate(45deg);
	margin-top: -5px;
	margin-left: -6px;
}

@media all and (min-width: 721px) {
	.calendar__wrap .one .month-wrapper .next:after {
		margin-top: -4px;
		margin-left: -5px;
	}
}

.calendar__wrap .one .date-range-length-tip {
	position: absolute;
	margin-top: 0;
	margin-left: -8px;
	display: none;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 0 6px;
	border-radius: 2px;
	font-size: 12px;
	line-height: 16px;
}

.calendar__wrap .one .date-range-length-tip:before, .calendar__wrap .one .date-range-length-tip:after {
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 0;
	width: 0;
	border-style: solid;
	content: '';
}

.calendar__wrap .one .date-range-length-tip:before {
	border-width: 6px 4px 0;
	border-color: #ccc transparent;
	bottom: -6px;
}

.calendar__wrap .one .date-range-length-tip:after {
	border-width: 5px 3px 0;
	border-color: #fff transparent;
	bottom: -5px;
}

.calendar__wrap .two:after {
	content: '';
	display: block;
	clear: both;
}

.calendar__wrap .two .date-picker-wrapper {
	position: relative;
	color: inherit;
	background-color: #fff;
	padding: 0;
}

.calendar__wrap .two .month-wrapper {
	overflow: hidden;
	position: relative;
	width: 619px;
	margin: 0 auto;
}

.calendar__wrap .two .month-wrapper:after {
	content: '';
	display: block;
	clear: both;
}

@media all and (min-width: 1680px) {
	.calendar__wrap .two .month-wrapper {
		width: 705px;
	}
}

.calendar__wrap .two .month-wrapper:before {
	display: block;
	position: absolute;
	top: 30px;
	left: 50%;
	width: 1px;
	height: 100%;
	background-color: #e6e6e6;
	content: "";
}

.calendar__wrap .two .month-wrapper table {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	border-spacing: 1px;
}

.calendar__wrap .two .month-wrapper table th, .calendar__wrap .two .month-wrapper table td {
	font-size: 16px;
	text-align: center;
	width: 40px;
	white-space: nowrap;
	cursor: pointer;
}

.calendar__wrap .two .month-wrapper table th {
	line-height: 31px;
	text-transform: capitalize;
	font-weight: 500;
}

.calendar__wrap .two .month-wrapper table td {
	border-bottom: 1px solid #fff;
}

.calendar__wrap .two .month-wrapper table td:first-child .day.toMonth.valid {
	color: #ef6600 !important;
}

.calendar__wrap .two .month-wrapper table td:first-child .day.toMonth.valid.hovering, .calendar__wrap .two .month-wrapper table td:first-child .day.toMonth.real-today.checked, .calendar__wrap .two .month-wrapper table td:first-child .day.toMonth.real-today.hovering, .calendar__wrap .two .month-wrapper table td:first-child .day.toMonth.valid.checked {
	background-color: #1b65b3 !important;
	color: #fff !important;
}

.calendar__wrap .two .month-wrapper table td:first-child .day.toMonth.valid {
	color: #ef6600 !important;
}

.calendar__wrap .two .month-wrapper table td:first-child .day.toMonth.valid.day--exclude {
	color: #c5c5c5 !important;
}

.calendar__wrap .two .month-wrapper table td:first-child .day.checked.first-date-selected, .calendar__wrap .two .month-wrapper table td:first-child .day.checked.last-date-selected {
	background-color: #1b65b3 !important;
	color: #fff !important;
}

.calendar__wrap .two .month-wrapper .day {
	color: #c5c5c5;
	background-color: #fff;
	height: 31px;
	line-height: 31px;
}

.calendar__wrap .two .month-wrapper .day.toMonth.hovering, .calendar__wrap .two .month-wrapper .day.real-today.checked, .calendar__wrap .two .month-wrapper .day.real-today.hovering, .calendar__wrap .two .month-wrapper .day.checked {
	font-weight: 500;
	background-color: #1b65b3 !important;
	color: #fff !important;
}

.calendar__wrap .two .month-wrapper .day.hovering--last {
	border-radius: 0 16px 16px 0;
}

.calendar__wrap .two .month-wrapper .day.toMonth.valid {
	background-color: #fff;
	color: #000;
}

.calendar__wrap .two .month-wrapper .day.toMonth.day--exclude {
	color: #c5c5c5 !important;
}

.calendar__wrap .two .month-wrapper .day.checked.first-date-selected, .calendar__wrap .two .month-wrapper .day.checked.last-date-selected {
	background-color: #1b65b3 !important;
	color: #fff !important;
}

.calendar__wrap .two .month-wrapper .day.checked.first-date-selected {
	border-radius: 16px 0 0 16px;
}

.calendar__wrap .two .month-wrapper .day.checked.last-date-selected {
	border-radius: 0 16px 16px 0;
}

.calendar__wrap .two .month-wrapper .day.nextMonth, .calendar__wrap .two .month-wrapper .day.lastMonth {
	display: none;
}

.calendar__wrap .two .month-wrapper .month {
	position: relative;
	width: 294px;
	padding-top: 22px;
}

.calendar__wrap .two .month-wrapper .month--1 {
	float: left;
}

.calendar__wrap .two .month-wrapper .month--2 {
	float: right;
}

.calendar__wrap .two .month-wrapper .month-name {
	padding-bottom: 9px;
	font-size: 18px;
	color: #333;
}

.calendar__wrap .two .month-wrapper .month-element {
	display: inline-block;
	margin: 0 3px;
	font-weight: 500;
}

.calendar__wrap .two .month-wrapper .prev, .calendar__wrap .two .month-wrapper .next {
	display: block;
	position: absolute;
	top: 18px;
	z-index: 1;
	width: 38px;
	height: 38px;
	font-weight: 500;
	text-align: center;
	border: 0;
	border-radius: 0;
	background: transparent;
	color: #222;
	letter-spacing: -1px;
	vertical-align: top;
	appearance: none;
}

.calendar__wrap .two .month-wrapper .prev span, .calendar__wrap .two .month-wrapper .next span {
	white-space: nowrap;
}

.calendar__wrap .two .month-wrapper .prev[disabled], .calendar__wrap .two .month-wrapper .prev.is-disabled, .calendar__wrap .two .month-wrapper .next[disabled], .calendar__wrap .two .month-wrapper .next.is-disabled {
	cursor: default;
}

.calendar__wrap .two .month-wrapper .prev:before, .calendar__wrap .two .month-wrapper .prev:after, .calendar__wrap .two .month-wrapper .next:before, .calendar__wrap .two .month-wrapper .next:after {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 2px;
	background-color: #333;
	content: '';
}

.calendar__wrap .two .month-wrapper .prev[disabled]:before, .calendar__wrap .two .month-wrapper .prev[disabled]:after, .calendar__wrap .two .month-wrapper .next[disabled]:before, .calendar__wrap .two .month-wrapper .next[disabled]:after {
	background-color: #bbb;
}

.calendar__wrap .two .month-wrapper .prev {
	left: 0;
}

.calendar__wrap .two .month-wrapper .prev:before {
	transform: rotate(-45deg);
	margin-top: -3px;
	margin-left: -5px;
}

.calendar__wrap .two .month-wrapper .prev:after {
	transform: rotate(45deg);
	margin-top: 3px;
	margin-left: -5px;
}

.calendar__wrap .two .month-wrapper .next {
	right: 0;
}

.calendar__wrap .two .month-wrapper .next:after {
	transform: rotate(45deg);
	margin-top: -3px;
	margin-left: -5px;
}

.calendar__wrap .two .month-wrapper .next:before {
	transform: rotate(-45deg);
	margin-top: 3px;
	margin-left: -5px;
}

.calendar__wrap .two .date-range-length-tip {
	position: absolute;
	margin-top: 0;
	margin-left: -8px;
	display: none;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 0 6px;
	border-radius: 2px;
	font-size: 12px;
	line-height: 16px;
}

.calendar__wrap .two .date-range-length-tip:before, .calendar__wrap .two .date-range-length-tip:after {
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 0;
	width: 0;
	border-style: solid;
	content: '';
}

.calendar__wrap .two .date-range-length-tip:before {
	border-width: 6px 4px 0;
	border-color: #ccc transparent;
	bottom: -6px;
}

.calendar__wrap .two .date-range-length-tip:after {
	border-width: 5px 3px 0;
	border-color: #fff transparent;
	bottom: -5px;
}

.calendar__wrap .three:after {
	content: '';
	display: block;
	clear: both;
}

.calendar__wrap .three .date-picker-wrapper {
	position: absolute;
	top: 43px;
	left: 0;
	z-index: 100;
	width: 491px;
	padding: 18px 0 30px;
	border: 1px solid #ccc;
	color: inherit;
	background-color: #fff;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.calendar__wrap .three .date-picker-wrapper.align-right {
	left: auto;
	right: 0;
}

.calendar__wrap .three .month-wrapper {
	overflow: hidden;
	position: relative;
	width: 437px;
	margin: 0 auto;
}

.calendar__wrap .three .month-wrapper:after {
	content: '';
	display: block;
	clear: both;
}

.calendar__wrap .three .month-wrapper:before {
	display: block;
	position: absolute;
	top: 12px;
	left: 50%;
	width: 1px;
	height: 100%;
	background-color: #e6e6e6;
	content: "";
}

.calendar__wrap .three .month-wrapper table {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	border-spacing: 1px;
}

.calendar__wrap .three .month-wrapper table th, .calendar__wrap .three .month-wrapper table td {
	font-size: 13px;
	text-align: center;
	width: 40px;
	white-space: nowrap;
	cursor: pointer;
}

.calendar__wrap .three .month-wrapper table th {
	line-height: 24px;
	text-transform: capitalize;
	font-weight: 500;
}

.calendar__wrap .three .month-wrapper table td {
	border-bottom: 1px solid #fff;
}

.calendar__wrap .three .month-wrapper table td:first-child .day.toMonth.valid {
	color: #ef6600 !important;
}

.calendar__wrap .three .month-wrapper table td:first-child .day.toMonth.valid.hovering, .calendar__wrap .three .month-wrapper table td:first-child .day.toMonth.real-today.checked, .calendar__wrap .three .month-wrapper table td:first-child .day.toMonth.real-today.hovering, .calendar__wrap .three .month-wrapper table td:first-child .day.toMonth.valid.checked {
	background-color: #1b65b3 !important;
	color: #fff !important;
}

.calendar__wrap .three .month-wrapper table td:first-child .day.toMonth.valid {
	color: #ef6600 !important;
}

.calendar__wrap .three .month-wrapper table td:first-child .day.toMonth.valid.day--exclude {
	color: #c5c5c5 !important;
}

.calendar__wrap .three .month-wrapper table td:first-child .day.checked.first-date-selected, .calendar__wrap .three .month-wrapper table td:first-child .day.checked.last-date-selected {
	background-color: #1b65b3 !important;
	color: #fff !important;
}

.calendar__wrap .three .month-wrapper .day {
	color: #c5c5c5;
	background-color: #fff;
	height: 24px;
	line-height: 24px;
}

.calendar__wrap .three .month-wrapper .day.toMonth.hovering, .calendar__wrap .three .month-wrapper .day.real-today.checked, .calendar__wrap .three .month-wrapper .day.real-today.hovering, .calendar__wrap .three .month-wrapper .day.checked {
	font-weight: 500;
	background-color: #1b65b3 !important;
	color: #fff !important;
}

.calendar__wrap .three .month-wrapper .day.hovering--last {
	border-radius: 0 12px 12px 0;
}

.calendar__wrap .three .month-wrapper .day.toMonth.valid {
	background-color: #fff;
	color: #000;
}

.calendar__wrap .three .month-wrapper .day.toMonth.day--exclude {
	color: #c5c5c5 !important;
}

.calendar__wrap .three .month-wrapper .day.checked.first-date-selected, .calendar__wrap .three .month-wrapper .day.checked.last-date-selected {
	background-color: #1b65b3 !important;
	color: #fff !important;
}

.calendar__wrap .three .month-wrapper .day.checked.first-date-selected {
	border-radius: 12px 0 0 12px;
}

.calendar__wrap .three .month-wrapper .day.checked.last-date-selected {
	border-radius: 0 12px 12px 0;
}

.calendar__wrap .three .month-wrapper .day.nextMonth, .calendar__wrap .three .month-wrapper .day.lastMonth {
	display: none;
}

.calendar__wrap .three .month-wrapper .month {
	position: relative;
	width: 203px;
	padding-top: 6px;
}

.calendar__wrap .three .month-wrapper .month--1 {
	float: left;
}

.calendar__wrap .three .month-wrapper .month--2 {
	float: right;
}

.calendar__wrap .three .month-wrapper .month-name {
	padding-bottom: 5px;
	font-size: 14px;
	color: #333;
}

.calendar__wrap .three .month-wrapper .month-element {
	display: inline-block;
	margin: 0 3px;
	font-size: 14px;
	font-weight: 500;
}

.calendar__wrap .three .month-wrapper .prev, .calendar__wrap .three .month-wrapper .next {
	display: block;
	position: absolute;
	top: 0;
	z-index: 1;
	width: 30px;
	height: 38px;
	text-align: center;
	border: 0;
	border-radius: 0;
	background: transparent;
	color: #222;
	letter-spacing: -1px;
	vertical-align: top;
	appearance: none;
}

.calendar__wrap .three .month-wrapper .prev span, .calendar__wrap .three .month-wrapper .next span {
	white-space: nowrap;
}

.calendar__wrap .three .month-wrapper .prev[disabled], .calendar__wrap .three .month-wrapper .prev.is-disabled, .calendar__wrap .three .month-wrapper .next[disabled], .calendar__wrap .three .month-wrapper .next.is-disabled {
	cursor: default;
}

.calendar__wrap .three .month-wrapper .prev:before, .calendar__wrap .three .month-wrapper .prev:after, .calendar__wrap .three .month-wrapper .next:before, .calendar__wrap .three .month-wrapper .next:after {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 2px;
	background-color: #333;
	content: '';
}

.calendar__wrap .three .month-wrapper .prev[disabled]:before, .calendar__wrap .three .month-wrapper .prev[disabled]:after, .calendar__wrap .three .month-wrapper .next[disabled]:before, .calendar__wrap .three .month-wrapper .next[disabled]:after {
	background-color: #bbb;
}

.calendar__wrap .three .month-wrapper .prev {
	left: 0;
}

.calendar__wrap .three .month-wrapper .prev:before {
	transform: rotate(-45deg);
	margin-top: -4px;
	margin-left: -5px;
}

.calendar__wrap .three .month-wrapper .prev:after {
	transform: rotate(45deg);
	margin-top: 2px;
	margin-left: -5px;
}

.calendar__wrap .three .month-wrapper .next {
	right: 0;
}

.calendar__wrap .three .month-wrapper .next:before {
	transform: rotate(-45deg);
	margin-top: 2px;
	margin-left: -5px;
}

.calendar__wrap .three .month-wrapper .next:after {
	transform: rotate(45deg);
	margin-top: -4px;
	margin-left: -5px;
}

.calendar__wrap .three .date-range-length-tip {
	position: absolute;
	margin-top: 0;
	margin-left: -8px;
	display: none;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 0 6px;
	border-radius: 2px;
	font-size: 12px;
	line-height: 16px;
}

.calendar__wrap .three .date-range-length-tip:before, .calendar__wrap .three .date-range-length-tip:after {
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 0;
	width: 0;
	border-style: solid;
	content: '';
}

.calendar__wrap .three .date-range-length-tip:before {
	border-width: 6px 4px 0;
	border-color: #ccc transparent;
	bottom: -6px;
}

.calendar__wrap .three .date-range-length-tip:after {
	border-width: 5px 3px 0;
	border-color: #fff transparent;
	bottom: -5px;
}

.calendar__wrap .multi {
	position: relative;
	display: table;
	font-size: 0;
	width: 100%;
}

.calendar__wrap .multi:after {
	content: '';
	display: block;
	clear: both;
}

.calendar__wrap .multi .date-picker-wrapper {
	width: 100%;
	color: inherit;
	background-color: #fff;
	position: absolute;
	top: 39px;
	left: 0;
	padding: 17px 24px 38px;
	z-index: 100;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

@media all and (min-width: 721px) {
	.calendar__wrap .multi .date-picker-wrapper {
		top: 43px;
		padding: 18px 0 30px;
		border: 1px solid #ccc;
	}
}

.calendar__wrap .multi .date-picker-wrapper.align-right {
	left: auto;
	right: 0;
}

.calendar__wrap .multi .date-picker-wrapper.single-date .hovering, .calendar__wrap .multi .date-picker-wrapper.single-date .first-date-selected {
	border-radius: 15px !important;
}

@media all and (min-width: 721px) {
	.calendar__wrap .multi .date-picker-wrapper.single-month {
		width: auto;
	}
}

@media all and (min-width: 721px) {
	.calendar__wrap .multi .date-picker-wrapper.single-month .month-wrapper {
		padding: 0 25px;
	}
}

@media all and (min-width: 721px) {
	.calendar__wrap .multi .date-picker-wrapper.two-months {
		width: 491px;
	}
}

@media all and (min-width: 721px) {
	.calendar__wrap .multi .date-picker-wrapper.two-months .month--1 {
		float: left;
	}
	.calendar__wrap .multi .date-picker-wrapper.two-months .month--2 {
		float: right;
	}
}

@media all and (min-width: 721px) {
	.calendar__wrap .multi .date-picker-wrapper.two-months .month-wrapper {
		overflow: hidden;
		position: relative;
		width: 437px;
	}
	.calendar__wrap .multi .date-picker-wrapper.two-months .month-wrapper:before {
		display: block;
		position: absolute;
		top: 12px;
		left: 50%;
		width: 1px;
		height: 100%;
		background-color: #e6e6e6;
		content: "";
	}
}

.calendar__wrap .multi .month-wrapper {
	margin: 0 auto;
}

.calendar__wrap .multi .month-wrapper:after {
	content: '';
	display: block;
	clear: both;
}

.calendar__wrap .multi .month-wrapper table {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	border-spacing: 1px;
}

.calendar__wrap .multi .month-wrapper table th, .calendar__wrap .multi .month-wrapper table td {
	font-size: 14px;
	text-align: center;
	width: 40px;
	white-space: nowrap;
	cursor: pointer;
}

.calendar__wrap .multi .month-wrapper table th {
	line-height: 35px;
	text-transform: capitalize;
	font-weight: 500;
}

@media all and (min-width: 721px) {
	.calendar__wrap .multi .month-wrapper table th {
		padding-bottom: 0;
		line-height: 24px;
	}
}

.calendar__wrap .multi .month-wrapper table td {
	padding: 3px 0;
	border-bottom: 1px solid #fff;
}

@media all and (min-width: 721px) {
	.calendar__wrap .multi .month-wrapper table td {
		padding: 0;
	}
}

.calendar__wrap .multi .month-wrapper table td:first-child .day.toMonth.valid {
	color: #ef6600 !important;
}

.calendar__wrap .multi .month-wrapper table td:first-child .day.toMonth.valid.hovering, .calendar__wrap .multi .month-wrapper table td:first-child .day.toMonth.real-today.checked, .calendar__wrap .multi .month-wrapper table td:first-child .day.toMonth.real-today.hovering, .calendar__wrap .multi .month-wrapper table td:first-child .day.toMonth.valid.checked {
	background-color: #1b65b3 !important;
	color: #fff !important;
}

.calendar__wrap .multi .month-wrapper table td:first-child .day.toMonth.valid {
	color: #ef6600 !important;
}

.calendar__wrap .multi .month-wrapper table td:first-child .day.toMonth.valid.day--exclude {
	color: #c5c5c5 !important;
}

.calendar__wrap .multi .month-wrapper table td:first-child .day.checked.first-date-selected, .calendar__wrap .multi .month-wrapper table td:first-child .day.checked.last-date-selected {
	background-color: #1b65b3 !important;
	color: #fff !important;
}

.calendar__wrap .multi .month-wrapper .day {
	color: #c5c5c5;
	background-color: #fff;
	height: 29px;
	font-size: 14px;
	line-height: 29px;
}

@media all and (min-width: 721px) {
	.calendar__wrap .multi .month-wrapper .day {
		height: 24px;
		font-size: 13px;
		line-height: 24px;
	}
}

.calendar__wrap .multi .month-wrapper .day.toMonth.hovering, .calendar__wrap .multi .month-wrapper .day.real-today.checked, .calendar__wrap .multi .month-wrapper .day.real-today.hovering, .calendar__wrap .multi .month-wrapper .day.checked {
	font-weight: 500;
	background-color: #1b65b3 !important;
	color: #fff !important;
}

.calendar__wrap .multi .month-wrapper .day.hovering--last {
	border-radius: 0 15px 15px 0;
}

.calendar__wrap .multi .month-wrapper .day.toMonth.valid {
	background-color: #fff;
	color: #000;
}

.calendar__wrap .multi .month-wrapper .day.toMonth.day--exclude {
	color: #c5c5c5 !important;
}

.calendar__wrap .multi .month-wrapper .day.checked.first-date-selected, .calendar__wrap .multi .month-wrapper .day.checked.last-date-selected {
	background-color: #1b65b3 !important;
	color: #fff !important;
}

.calendar__wrap .multi .month-wrapper .day.checked.first-date-selected {
	border-radius: 15px 0 0 15px;
}

.calendar__wrap .multi .month-wrapper .day.checked.last-date-selected {
	border-radius: 0 15px 15px 0;
}

.calendar__wrap .multi .month-wrapper .day.nextMonth, .calendar__wrap .multi .month-wrapper .day.lastMonth {
	display: none;
}

.calendar__wrap .multi .month-wrapper .month {
	position: relative;
	padding-top: 24px;
}

@media all and (min-width: 721px) {
	.calendar__wrap .multi .month-wrapper .month {
		width: 203px;
		padding-top: 6px;
	}
}

.calendar__wrap .multi .month-wrapper .month-name {
	padding-bottom: 5px;
	font-size: 17px;
	color: #333;
}

@media all and (min-width: 721px) {
	.calendar__wrap .multi .month-wrapper .month-name {
		font-size: 14px;
	}
}

.calendar__wrap .multi .month-wrapper .month-element {
	display: inline-block;
	margin: 0 3px;
	font-size: 17px;
	font-weight: 500;
}

@media all and (min-width: 721px) {
	.calendar__wrap .multi .month-wrapper .month-element {
		font-size: 14px;
	}
}

.calendar__wrap .multi .month-wrapper .prev, .calendar__wrap .multi .month-wrapper .next {
	display: block;
	position: absolute;
	top: 22px;
	z-index: 1;
	width: 40px;
	height: 40px;
	text-align: center;
	border: 0;
	border-radius: 0;
	background: transparent;
	color: #222;
	letter-spacing: -1px;
	vertical-align: top;
	appearance: none;
}

.calendar__wrap .multi .month-wrapper .prev span, .calendar__wrap .multi .month-wrapper .next span {
	white-space: nowrap;
}

.calendar__wrap .multi .month-wrapper .prev[disabled], .calendar__wrap .multi .month-wrapper .prev.is-disabled, .calendar__wrap .multi .month-wrapper .next[disabled], .calendar__wrap .multi .month-wrapper .next.is-disabled {
	cursor: default;
}

@media all and (min-width: 721px) {
	.calendar__wrap .multi .month-wrapper .prev, .calendar__wrap .multi .month-wrapper .next {
		top: 0;
		width: 30px;
		height: 38px;
	}
}

.calendar__wrap .multi .month-wrapper .prev:before, .calendar__wrap .multi .month-wrapper .prev:after, .calendar__wrap .multi .month-wrapper .next:before, .calendar__wrap .multi .month-wrapper .next:after {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 12px;
	height: 2px;
	background-color: #333;
	content: '';
}

@media all and (min-width: 721px) {
	.calendar__wrap .multi .month-wrapper .prev:before, .calendar__wrap .multi .month-wrapper .prev:after, .calendar__wrap .multi .month-wrapper .next:before, .calendar__wrap .multi .month-wrapper .next:after {
		width: 10px;
	}
}

.calendar__wrap .multi .month-wrapper .prev[disabled]:before, .calendar__wrap .multi .month-wrapper .prev[disabled]:after, .calendar__wrap .multi .month-wrapper .next[disabled]:before, .calendar__wrap .multi .month-wrapper .next[disabled]:after {
	background-color: #bbb;
}

.calendar__wrap .multi .month-wrapper .prev {
	left: 0;
}

.calendar__wrap .multi .month-wrapper .prev:before {
	transform: rotate(-45deg);
	margin-top: -5px;
	margin-left: -6px;
}

@media all and (min-width: 721px) {
	.calendar__wrap .multi .month-wrapper .prev:before {
		margin-top: -4px;
		margin-left: -5px;
	}
}

.calendar__wrap .multi .month-wrapper .prev:after {
	transform: rotate(45deg);
	margin-top: 3px;
	margin-left: -6px;
}

@media all and (min-width: 721px) {
	.calendar__wrap .multi .month-wrapper .prev:after {
		margin-top: 2px;
		margin-left: -5px;
	}
}

.calendar__wrap .multi .month-wrapper .next {
	right: 0;
}

.calendar__wrap .multi .month-wrapper .next:before {
	transform: rotate(-45deg);
	margin-top: 3px;
	margin-left: -6px;
}

@media all and (min-width: 721px) {
	.calendar__wrap .multi .month-wrapper .next:before {
		margin-top: 2px;
		margin-left: -5px;
	}
}

.calendar__wrap .multi .month-wrapper .next:after {
	transform: rotate(45deg);
	margin-top: -5px;
	margin-left: -6px;
}

@media all and (min-width: 721px) {
	.calendar__wrap .multi .month-wrapper .next:after {
		margin-top: -4px;
		margin-left: -5px;
	}
}

.calendar__wrap .multi .date-range-length-tip {
	position: absolute;
	margin-top: 0;
	margin-left: -8px;
	display: none;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 0 6px;
	border-radius: 2px;
	font-size: 12px;
	line-height: 16px;
}

.calendar__wrap .multi .date-range-length-tip:before, .calendar__wrap .multi .date-range-length-tip:after {
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 0;
	width: 0;
	border-style: solid;
	content: '';
}

.calendar__wrap .multi .date-range-length-tip:before {
	border-width: 6px 4px 0;
	border-color: #ccc transparent;
	bottom: -6px;
}

.calendar__wrap .multi .date-range-length-tip:after {
	border-width: 5px 3px 0;
	border-color: #fff transparent;
	bottom: -5px;
}

.calendar__wrap .multi .input {
	display: inline-block;
	width: 50%;
}

.calendar__wrap .inline .date-picker-wrapper {
	width: 100%;
	color: inherit;
	background-color: #fff;
	display: inline-block;
	position: relative;
	top: 0;
	left: 0;
	z-index: 99;
}

@media all and (min-width: 721px) {
	.calendar__wrap .inline .date-picker-wrapper {
		left: 50%;
	}
}

.calendar__wrap .inline .date-picker-wrapper.align-right {
	left: auto;
	right: 0;
}

.calendar__wrap .inline .date-picker-wrapper.single-date .hovering, .calendar__wrap .inline .date-picker-wrapper.single-date .first-date-selected {
	border-radius: 15px !important;
}

@media all and (min-width: 721px) {
	.calendar__wrap .inline .date-picker-wrapper.single-month {
		width: auto;
	}
}

@media all and (min-width: 721px) {
	.calendar__wrap .inline .date-picker-wrapper.two-months {
		width: 491px;
	}
}

@media all and (min-width: 721px) {
	.calendar__wrap .inline .date-picker-wrapper.two-months .month--1 {
		float: left;
	}
	.calendar__wrap .inline .date-picker-wrapper.two-months .month--2 {
		float: right;
	}
}

@media all and (min-width: 721px) {
	.calendar__wrap .inline .date-picker-wrapper.two-months .month-wrapper {
		overflow: hidden;
		position: relative;
		width: 437px;
	}
	.calendar__wrap .inline .date-picker-wrapper.two-months .month-wrapper:before {
		display: block;
		position: absolute;
		top: 12px;
		left: 50%;
		width: 1px;
		height: 100%;
		background-color: #e6e6e6;
		content: "";
	}
}

.calendar__wrap .inline .month-wrapper {
	margin: 0 auto;
}

.calendar__wrap .inline .month-wrapper:after {
	content: '';
	display: block;
	clear: both;
}

.calendar__wrap .inline .month-wrapper table {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	border-spacing: 1px;
}

.calendar__wrap .inline .month-wrapper table th, .calendar__wrap .inline .month-wrapper table td {
	font-size: 14px;
	text-align: center;
	width: 40px;
	white-space: nowrap;
	cursor: pointer;
}

.calendar__wrap .inline .month-wrapper table th {
	line-height: 35px;
	text-transform: capitalize;
	font-weight: 500;
}

@media all and (min-width: 721px) {
	.calendar__wrap .inline .month-wrapper table th {
		padding-bottom: 0;
		line-height: 24px;
	}
}

.calendar__wrap .inline .month-wrapper table td {
	padding: 3px 0;
	border-bottom: 1px solid #fff;
}

@media all and (min-width: 721px) {
	.calendar__wrap .inline .month-wrapper table td {
		padding: 0;
	}
}

.calendar__wrap .inline .month-wrapper table td:first-child .day.toMonth.valid {
	color: #ef6600 !important;
}

.calendar__wrap .inline .month-wrapper table td:first-child .day.toMonth.valid.hovering, .calendar__wrap .inline .month-wrapper table td:first-child .day.toMonth.real-today.checked, .calendar__wrap .inline .month-wrapper table td:first-child .day.toMonth.real-today.hovering, .calendar__wrap .inline .month-wrapper table td:first-child .day.toMonth.valid.checked {
	background-color: #1b65b3 !important;
	color: #fff !important;
}

.calendar__wrap .inline .month-wrapper table td:first-child .day.toMonth.valid {
	color: #ef6600 !important;
}

.calendar__wrap .inline .month-wrapper table td:first-child .day.toMonth.valid.day--exclude {
	color: #c5c5c5 !important;
}

.calendar__wrap .inline .month-wrapper table td:first-child .day.checked.first-date-selected, .calendar__wrap .inline .month-wrapper table td:first-child .day.checked.last-date-selected {
	background-color: #1b65b3 !important;
	color: #fff !important;
}

.calendar__wrap .inline .month-wrapper .day {
	color: #c5c5c5;
	background-color: #fff;
	height: 29px;
	font-size: 14px;
	line-height: 29px;
}

@media all and (min-width: 721px) {
	.calendar__wrap .inline .month-wrapper .day {
		height: 24px;
		font-size: 13px;
		line-height: 24px;
	}
}

.calendar__wrap .inline .month-wrapper .day.toMonth.hovering, .calendar__wrap .inline .month-wrapper .day.real-today.checked, .calendar__wrap .inline .month-wrapper .day.real-today.hovering, .calendar__wrap .inline .month-wrapper .day.checked {
	font-weight: 500;
	background-color: #1b65b3 !important;
	color: #fff !important;
}

.calendar__wrap .inline .month-wrapper .day.hovering--last {
	border-radius: 0 15px 15px 0;
}

.calendar__wrap .inline .month-wrapper .day.toMonth.valid {
	background-color: #fff;
	color: #000;
}

.calendar__wrap .inline .month-wrapper .day.toMonth.day--exclude {
	color: #c5c5c5 !important;
}

.calendar__wrap .inline .month-wrapper .day.checked.first-date-selected, .calendar__wrap .inline .month-wrapper .day.checked.last-date-selected {
	background-color: #1b65b3 !important;
	color: #fff !important;
}

.calendar__wrap .inline .month-wrapper .day.checked.first-date-selected {
	border-radius: 15px 0 0 15px;
}

.calendar__wrap .inline .month-wrapper .day.checked.last-date-selected {
	border-radius: 0 15px 15px 0;
}

.calendar__wrap .inline .month-wrapper .day.nextMonth, .calendar__wrap .inline .month-wrapper .day.lastMonth {
	display: none;
}

.calendar__wrap .inline .month-wrapper .month {
	position: relative;
	padding-top: 24px;
}

@media all and (min-width: 721px) {
	.calendar__wrap .inline .month-wrapper .month {
		width: 203px;
		padding-top: 6px;
		margin-left: -101.5px;
	}
}

.calendar__wrap .inline .month-wrapper .month-name {
	padding-bottom: 5px;
	font-size: 17px;
	color: #333;
}

@media all and (min-width: 721px) {
	.calendar__wrap .inline .month-wrapper .month-name {
		font-size: 14px;
	}
}

.calendar__wrap .inline .month-wrapper .month-element {
	display: inline-block;
	margin: 0 3px;
	font-size: 17px;
	font-weight: 500;
}

@media all and (min-width: 721px) {
	.calendar__wrap .inline .month-wrapper .month-element {
		font-size: 14px;
	}
}

.calendar__wrap .inline .month-wrapper .prev, .calendar__wrap .inline .month-wrapper .next {
	display: block;
	position: absolute;
	top: 22px;
	z-index: 1;
	width: 40px;
	height: 40px;
	text-align: center;
	border: 0;
	border-radius: 0;
	background: transparent;
	color: #222;
	letter-spacing: -1px;
	vertical-align: top;
	appearance: none;
}

.calendar__wrap .inline .month-wrapper .prev span, .calendar__wrap .inline .month-wrapper .next span {
	white-space: nowrap;
}

.calendar__wrap .inline .month-wrapper .prev[disabled], .calendar__wrap .inline .month-wrapper .prev.is-disabled, .calendar__wrap .inline .month-wrapper .next[disabled], .calendar__wrap .inline .month-wrapper .next.is-disabled {
	cursor: default;
}

@media all and (min-width: 721px) {
	.calendar__wrap .inline .month-wrapper .prev, .calendar__wrap .inline .month-wrapper .next {
		top: 0;
		width: 30px;
		height: 38px;
	}
}

.calendar__wrap .inline .month-wrapper .prev:before, .calendar__wrap .inline .month-wrapper .prev:after, .calendar__wrap .inline .month-wrapper .next:before, .calendar__wrap .inline .month-wrapper .next:after {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 12px;
	height: 2px;
	background-color: #333;
	content: '';
}

@media all and (min-width: 721px) {
	.calendar__wrap .inline .month-wrapper .prev:before, .calendar__wrap .inline .month-wrapper .prev:after, .calendar__wrap .inline .month-wrapper .next:before, .calendar__wrap .inline .month-wrapper .next:after {
		width: 10px;
	}
}

.calendar__wrap .inline .month-wrapper .prev[disabled]:before, .calendar__wrap .inline .month-wrapper .prev[disabled]:after, .calendar__wrap .inline .month-wrapper .next[disabled]:before, .calendar__wrap .inline .month-wrapper .next[disabled]:after {
	background-color: #bbb;
}

.calendar__wrap .inline .month-wrapper .prev {
	left: 0;
}

.calendar__wrap .inline .month-wrapper .prev:before {
	transform: rotate(-45deg);
	margin-top: -5px;
	margin-left: -6px;
}

@media all and (min-width: 721px) {
	.calendar__wrap .inline .month-wrapper .prev:before {
		margin-top: -4px;
		margin-left: -5px;
	}
}

.calendar__wrap .inline .month-wrapper .prev:after {
	transform: rotate(45deg);
	margin-top: 3px;
	margin-left: -6px;
}

@media all and (min-width: 721px) {
	.calendar__wrap .inline .month-wrapper .prev:after {
		margin-top: 2px;
		margin-left: -5px;
	}
}

.calendar__wrap .inline .month-wrapper .next {
	right: 0;
}

.calendar__wrap .inline .month-wrapper .next:before {
	transform: rotate(-45deg);
	margin-top: 3px;
	margin-left: -6px;
}

@media all and (min-width: 721px) {
	.calendar__wrap .inline .month-wrapper .next:before {
		margin-top: 2px;
		margin-left: -5px;
	}
}

.calendar__wrap .inline .month-wrapper .next:after {
	transform: rotate(45deg);
	margin-top: -5px;
	margin-left: -6px;
}

@media all and (min-width: 721px) {
	.calendar__wrap .inline .month-wrapper .next:after {
		margin-top: -4px;
		margin-left: -5px;
	}
}

.calendar__wrap .inline .date-range-length-tip {
	position: absolute;
	margin-top: 0;
	margin-left: -8px;
	display: none;
	background-color: #fff;
	border: 1px solid #ccc;
	padding: 0 6px;
	border-radius: 2px;
	font-size: 12px;
	line-height: 16px;
}

.calendar__wrap .inline .date-range-length-tip:before, .calendar__wrap .inline .date-range-length-tip:after {
	display: block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 0;
	width: 0;
	border-style: solid;
	content: '';
}

.calendar__wrap .inline .date-range-length-tip:before {
	border-width: 6px 4px 0;
	border-color: #ccc transparent;
	bottom: -6px;
}

.calendar__wrap .inline .date-range-length-tip:after {
	border-width: 5px 3px 0;
	border-color: #fff transparent;
	bottom: -5px;
}

._guide {
	margin: 30px;
}

._guide__h1 {
	margin: 0.5em 0;
	font-size: 4em;
}

._guide__h2 {
	margin: 0.5em 0;
	font-size: 3em;
}

._guide__h3 {
	margin: 0.5em 0;
	font-size: 2em;
}

._guide__h4 {
	margin: 0.5em 0;
	font-size: 1.5em;
}

._guide__hr {
	display: block;
	margin: 2em 0;
	border-top: 1px solid #333;
}

._guide pre {
	display: block;
	background-color: #eee;
	margin: 1em 0;
	padding: 2em 1em;
	font-size: 1em;
}

.sample__title {
	display: block;
	padding: 15px;
	background-color: #343a40;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
}

.sample__title--case {
	padding: 15px;
	font-size: 20px;
	background-color: #e2e2e2;
	color: #0f0f0f;
	border-top: 1px solid #909294;
	border-bottom: 1px solid #909294;
}

.sample__notice {
	background-color: rgba(0, 0, 0, 0.03);
	padding: 15px;
	font-size: 18px;
}

.sample__guide li {
	position: relative;
	padding-left: 10px;
	margin-top: 10px;
}

.sample__guide li:before {
	content: '-';
	position: absolute;
	top: 0;
	left: 0;
	color: #000;
}

.sample__code {
	padding: 30px 0;
}
