@import "language/ko";

.sample {
    &__title {
        display: block;
        padding:15px;
        background-color: #343a40;
        font-size:24px;
        font-weight:bold;
        color:#fff;

        &--case {
            padding:15px;
            font-size:20px;
            background-color: #e2e2e2;
            color:#0f0f0f;
            border-top: 1px solid #909294;
            border-bottom: 1px solid #909294;
        }


    }

    &__notice {
        background-color: rgba(0,0,0,.03);
        padding:15px;
        font-size:18px;
    }

    &__guide {
        li {
            position: relative;
            padding-left: 10px;
            margin-top: 10px;
            &:before {
                content:'-';
                position: absolute;
                top: 0;
                left: 0;
                color:#000;
            }
        }
    }

    &__code {
        padding:30px 0;
    }
}

$combobox : 'combobox';
[data-js="combobox"] > select {
    display: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    -webkit-appearance:none;
    &.is-ready {
        display:block;
        overflow:hidden;
        position:absolute;
        top:0;
        left:0;
        width:1px;
        height:1px;
        z-index:-1;
        opacity:0;
    }
}
.#{$combobox} {
    position: relative;
    display: block;
    height: 40px;
    vertical-align: top;
    z-index: 99;
    &.initial {
        opacity:0;
    }
    @include breakpoint($point: tablet) {
        height:44px;
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    &__button {
        position: relative;
        width: 100%;
        height: 100%;
        padding:0 15px;
        white-space: nowrap;
        cursor: pointer;
        background-color:#f5f5f5;
        border: 1px solid #f5f5f5;
        font-size:14px;
        line-height:38px;
        text-align:left;
        color:$basicfontcolor;
        @include breakpoint($point: tablet) {
            padding:0 20px;
            font-size:16px;
            line-height:42px;
        }
        &:after {
            content: "";
            display: block;
            clear: both;
        }
        &.is-opened {
            background-color:#ffffff;
            border-color:#bbb;
            .#{$combobox}__status{
                &:before {
                    right:6px;
                    @include transform('rotate(135deg)');
                }
                &:after {
                    right:0;
                    @include transform('rotate(45deg)');
                }
            }
        }
        &.is-disabled {
            background-color:#e5e5e5 !important;
            border-color: #bbb !important;
            color:#666 !important;
        }
    }

    &__status {
        overflow: hidden;
        display:block;
        position: relative;
        width: 100%;
        height: 100%;
        padding-right:20px;
        text-overflow: ellipsis;
        user-select: none;
        &:before, &:after {
            display: block;
            position: absolute;
            top:50%;
            margin-top:-1px;
            width: 9px;
            height: 1px;
            background-color:#666;
            content: "";
        }
        &:before {
            right:6px;
            @include transform('rotate(45deg)');
        }
        &:after {
            right:0;
            @include transform('rotate(135deg)');
        }
    }

    &__scroll {
        display: none;
        overflow:hidden;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        max-height:200px;
        background:#fff;
        border : {
            width:0 1px 1px 1px;
            style:solid;
            color:#bbbbbb;
        }

        &.is-opened {
            @include breakpoint($point: tablet) {
                box-shadow:0 4px 12px rgba(0,0,0,.1);
            }
        }

        .#{$combobox}--top & {
            top: auto;
            bottom: 100%;
            margin: 0 0 -1px;
            border-top-width: 1px;
            border-bottom-width: 0;
        }
    }

    &__list {
        list-style: none;
    }
    &__label {
        display:block;
        overflow: hidden;
        padding: 7px 20px 8px;
        word-break:break-word;
        font-size:14px;
        color:#606060;
        font-weight:normal;
        text-align:left;
        pointer-events: none;
        @include breakpoint($point: tablet) {
            font-size:$basicfontsize;
        }
    }
    &__item {
        overflow: hidden;
        padding: 7px 20px 8px;
        word-break:break-word;
        font-size:14px;
        line-height:1.2;
        color:#666;
        cursor: pointer;
        font-weight:normal;
        text-align:left;
        @include breakpoint($point: tablet) {
            font-size:16px;
        }

        &:focus,
        &:hover {
            background-color:#888;
            color:#ffffff;
        }
        &.is-active {
            background-color:#555;
            color:#ffffff;
        }
    }

    &--touch {
        select {
            display:block;
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            opacity:0;
            z-index:2;
        }
        .#{$combobox}__button {z-index:0;}
    }


    // 사이즈 옵션 2
    &--2 {
        height:25px;

        @include breakpoint($point: tablet) {
            height:36px;
        }

        .#{$combobox} {
            &__button {
                padding:0 12px 0 9px;
                background-color:#fff;
                border: 1px solid #bbb;
                font-size:11px;
                line-height:23px;
                color:#666;
                &.is-opened {
                    .#{$combobox}__status{
                        &:before {
                            right:4px;
                            @include breakpoint($point: tablet) {
                                right:8px;
                            }
                        }
                        &:after {
                            right:0;
                        }
                    }
                }

                @include breakpoint($point: tablet) {
                    font-size:16px;
                    line-height:33px;
                    padding:0 15px 0 14px;
                }
            }

            &__status {
                padding-right:13px;

                &:before, &:after {
                    width: 6px;
                }
                &:before {
                    right:4px;
                }

                @include breakpoint($point: tablet) {
                    padding-right:22px;

                    &:before, &:after {
                        width: 12px;
                    }
                    &:before {
                        right:8px;
                    }
                }
            }

            &__scroll {
                max-height:110px;
                @include breakpoint($point: tablet) {
                    max-height:197px;
                }
            }

            &__label {

                color:#606060;
                padding: 4px 9px 5px;
                @include breakpoint($point: tablet) {
                    font-size:$basicfontsize;
                    padding: 7px 15px;
                }
            }
            &__item {
                overflow: hidden;
                padding: 4px 9px 5px;
                font-size:9px;
                line-height:1.2;
                color:#666;
                @include breakpoint($point: tablet) {
                    padding: 7px 15px 8px;
                    font-size:$basicfontsize;
                }

                &:focus,
                &:hover {
                    background-color:#888;
                    color:#ffffff;
                }
                &.is-active {
                    background-color:#555;
                    color:#ffffff;
                }
            }
        }
    }
}