{% extends "html/layout/layout.html" %}

{% block content %}
    <table style="width:100%; letter-spacing:-1px; background:#f1f1f1;" cellspacing="0" cellpadding="0" border="0"
           align="center">
        <tr>
            <td align="center">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="700">
                            <div style="max-width:700px; margin:0 auto;">
                                <table style="width:100%; text-align:left; margin:0 auto; -webkit-text-size-adjust:100%"
                                       cellspacing="0" cellpadding="0" border="0">

                                    <!-- header logo :: start -->
                                    <tr>
                                        <td colspan="3" align="center"
                                            style="padding:50px 0 28px 0; border-bottom:2px solid #222;">타이틀
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" height="5"></td>
                                    </tr>
                                    <!-- header logo :: end -->

                                    <tr>
                                        <td colspan="3" style="background:#ffffff; padding:60px 0;">
                                            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                                <!-- contents :: start -->
                                                <tr>
                                                    <td width="30"></td>
                                                    <td align="center"
                                                        style="padding:0 0 15px 0; font-size:20px; color:#333333; letter-spacing:-1px; font-family:'Malgun Gothic', arial, 'Open Sans', sans-serif;">
                                                        안녕하세요
                                                    </td>
                                                    <td width="30"></td>
                                                </tr>
                                                <tr>
                                                    <td width="30"></td>
                                                    <td align="center"
                                                        style="padding:0 0 60px 0; font-size:16px; line-height:26px; color:#666666; letter-spacing:-1px; font-family:'Malgun Gothic', arial, 'Open Sans', sans-serif;">
                                                        <strong>GUEST</strong> 님의 문의 사항이 접수되었습니다.
                                                    </td>
                                                    <td width="30"></td>
                                                </tr>
                                                <tr>
                                                    <td width="30"></td>
                                                    <td style="padding:0 0 15px 0;">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tr>
                                                                <td align="right"
                                                                    style="font-size:14px; color:#333333; letter-spacing:-1px; font-family:'Malgun Gothic', arial, 'Open Sans', sans-serif;">
                                                                    문의일자 <span
                                                                            style="font-size:10px; color:#666666;display:inline-block;margin-top:3px;padding:0 7px;vertical-align:top;">|</span>
                                                                    <strong>2018-02-06</strong>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td width="30"></td>
                                                </tr>
                                                <tr>
                                                    <td width="30"></td>
                                                    <td style="padding:0 0 20px 0;">
                                                        <table style="border-top:1px solid #333; border-bottom:1px solid #e6e6e6;"
                                                               border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <colgroup>
                                                                <col style="width:30%"/>
                                                                <col style="width:70%"/>
                                                            </colgroup>
                                                            <tr>
                                                                <th scope="row"
                                                                    style="padding:17px 20px; background-color:#f9f9f9; font-size:14px; color:#333333; letter-spacing:-1px; font-family:'Malgun Gothic', arial, 'Open Sans', sans-serif;">
                                                                    문의제목
                                                                </th>
                                                                <td style="padding:17px 20px; font-size:14px; color:#333333; line-height:26px; letter-spacing:-1px; font-family:'Malgun Gothic', arial, 'Open Sans', sans-serif;">
                                                                    내용
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row"
                                                                    style="padding:17px 20px; background-color:#f9f9f9; font-size:14px; color:#333333; letter-spacing:-1px; font-family:'Malgun Gothic', arial, 'Open Sans', sans-serif;">
                                                                    작성자
                                                                </th>
                                                                <td style="padding:17px 20px; font-size:14px; color:#333333; line-height:26px; letter-spacing:-1px; font-family:'Malgun Gothic', arial, 'Open Sans', sans-serif;">
                                                                    이름
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row"
                                                                    style="padding:17px 20px; background-color:#f9f9f9; font-size:14px; color:#333333; letter-spacing:-1px; font-family:'Malgun Gothic', arial, 'Open Sans', sans-serif;">
                                                                    처리기간
                                                                </th>
                                                                <td style="padding:17px 20px; font-size:14px; color:#333333; line-height:26px; letter-spacing:-1px; font-family:'Malgun Gothic', arial, 'Open Sans', sans-serif;">
                                                                    시작일 : 2020-09-11 <br>
                                                                    종료일 : 2020-09-13
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row"
                                                                    style="padding:17px 20px; background-color:#f9f9f9; font-size:14px; color:#333333; letter-spacing:-1px; font-family:'Malgun Gothic', arial, 'Open Sans', sans-serif;">
                                                                    문의내용
                                                                </th>
                                                                <td style="padding:17px 20px; font-size:14px; color:#333333; line-height:26px; letter-spacing:-1px; font-family:'Malgun Gothic', arial, 'Open Sans', sans-serif;">
                                                                    내용
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                    <td width="30"></td>
                                                </tr>
                                                <tr>
                                                    <td width="30"></td>
                                                    <td style="font-size:14px; color:#666666; line-height:24px; letter-spacing:-1px; font-family:'Malgun Gothic', arial, 'Open Sans', sans-serif;">
                                                        위의 내용은 필수입력에 대해 기재한 사항이므로 세부적인 내용은 마이페이지에서 확인해주시기 바랍니다.
                                                    </td>
                                                    <td width="30"></td>
                                                </tr>
                                                <!-- contents :: end -->
                                            </table>
                                        </td>
                                    </tr>
                                    <tr style="background:#ffffff;">
                                        <td width="30"></td>
                                        <td style="padding:0 0 15px 0;border-bottom:1px solid #222222;">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tbody>
                                                <tr>
                                                    <td style="font-size:16px; color:#333333; font-weight:bold; letter-spacing:-1px; font-family:'Malgun Gothic', arial, 'Open Sans', sans-serif;">
                                                        사이트 정보
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td width="30"></td>
                                    </tr>
                                    <tr style="background:#ffffff;">
                                        <td width="30"></td>
                                        <td>
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tbody>
                                                <tr>
                                                    <td style="padding-top: 20px;">
                                                        <table style="padding:0 0 20px 0;" border="0" cellpadding="0"
                                                               cellspacing="0" width="100%">
                                                            <tbody>
                                                            <tr>
                                                                <td style="font-size:0; padding-bottom:10px; clear:both;">
                                                                    <div style="width:242px; float:left;">
                                                                        <table width="100%" border="0" cellpadding="0"
                                                                               cellspacing="0">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td align="center">
                                                                                    <img src="https://placeimg.com/222/125"
                                                                                         alt="">
                                                                                </td>
                                                                                <td width="20"></td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div style="width:300px; float:left;">
                                                                        <table width="100%" border="0" cellpadding="0"
                                                                               cellspacing="0">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td style="padding:7px 0 5px 0; font-size:14px; line-height:20px; color:#333333; font-weight:bold; letter-spacing:-1px; font-family:'Malgun Gothic', arial, 'Open Sans', sans-serif;">
                                                                                    타이틀
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding:0 0 3px 0; font-size:14px; line-height:21px; color:#333333; letter-spacing:-1px; font-family:'Malgun Gothic', arial, 'Open Sans', sans-serif;">
                                                                                    내용 내용 내용 내용 내용
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding:0 0 0 0; font-size:14px; line-height:21px; letter-spacing:-1px; font-family:'Malgun Gothic', arial, 'Open Sans', sans-serif;">
                                                                                    <span style="color:#333333; display:inline-block;">Tel : </span>
                                                                                    <span style="color:#666666; display:inline-block;">+82-000-0000</span>
                                                                                    <span style="color:#999999; font-size:11px; display:inline-block; padding:0 7px;">|</span>
                                                                                    <span style="color:#333333; display:inline-block;">Fax : </span>
                                                                                    <span style="color:#666666; display:inline-block;">+82-000-0000</span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding:0 0 3px 0; font-size:14px; line-height:21px; color:#333333; letter-spacing:-1px; font-family:'Malgun Gothic', arial, 'Open Sans', sans-serif;">
                                                                                    <span style="color:#333333; display:inline-block;">등록일</span>
                                                                                    <span style="color:#666666; display:inline-block;">2020-08-20</span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-size:14px; line-height:21px; color:#333333; letter-spacing:-1px; font-family:'Malgun Gothic', arial, 'Open Sans', sans-serif;">

                                                                                    <a href="#lnk" target="_blank"
                                                                                       title="새창"
                                                                                       style="font-size:14px; color:#0070c0;">위치위치위치위치위치</a>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding:0 0 55px 0">
                                                        <!-- 지도 이미지 영역 -->
                                                        <img src="https://placeimg.com/580/326" alt=""
                                                             style="border:0; width:100%;">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td width="30"></td>
                                    </tr>
                                    <tr style="background: #fff;">
                                        <td width="30"></td>
                                        <td>
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                <tbody>
                                                <tr>
                                                    <td style="padding:0 0 15px 0;">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tbody>
                                                            <tr>
                                                                <td style="font-size:18px; color:#333333; font-weight:bold; letter-spacing:-1px; font-family:'Malgun Gothic', arial, 'Open Sans', sans-serif;">
                                                                    이벤트 안내
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table style="padding:0 0 10px 0;" border="0" cellpadding="0"
                                                               cellspacing="0" width="100%">
                                                            <tbody>
                                                            <tr>
                                                                <td style="font-size:0; padding-bottom:10px; clear:both;">
                                                                    <div style="width:242px; float:left;">
                                                                        <table width="100%" border="0" cellpadding="0"
                                                                               cellspacing="0">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td height="98" align="center" style="">

                                                                                    <a href="#lnk" target="_blank"
                                                                                       title="새창"><img
                                                                                                src="https://placeimg.com/222/125"
                                                                                                alt="" border="0"></a>
                                                                                </td>
                                                                                <td width="20"></td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div style="width:300px; float:left;">
                                                                        <table width="100%" border="0" cellpadding="0"
                                                                               cellspacing="0">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td style="padding:7px 0 5px 0; font-size:14px; line-height:20px; color:#333333; font-weight:bold; letter-spacing:-1px; font-family:'Malgun Gothic', arial, 'Open Sans', sans-serif;">

                                                                                    <a href="#lnk" target="_blank"
                                                                                       title="새창"
                                                                                       style="font-size:14px; color:#333333; text-decoration:none;">이벤트
                                                                                        안내 이벤트 안내 이벤트 안내 이벤트 안내</a>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding:0 0 7px 0; font-size:14px; line-height:21px; color:#666666; letter-spacing:-1px; font-family:'Malgun Gothic', arial, 'Open Sans', sans-serif;">
                                                                                    안내문구 안내문구 안내문구 안내문구
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-size:14px; line-height:21px; color:#666666; letter-spacing:-1px; font-family:'Malgun Gothic', arial, 'Open Sans', sans-serif;">
                                                                                    2020-11-12 ~ 2020-11-30
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table style="padding:0 0 10px 0;" border="0" cellpadding="0"
                                                               cellspacing="0" width="100%">
                                                            <tbody>
                                                            <tr>
                                                                <td style="font-size:0; padding-bottom:10px; clear:both;">
                                                                    <div style="width:242px; float:left;">
                                                                        <table width="100%" border="0" cellpadding="0"
                                                                               cellspacing="0">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td height="98" align="center" style="">

                                                                                    <a href="#lnk" target="_blank"
                                                                                       title="새창"><img
                                                                                                src="https://placeimg.com/222/125"
                                                                                                alt="" border="0"></a>
                                                                                </td>
                                                                                <td width="20"></td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div style="width:300px; float:left;">
                                                                        <table width="100%" border="0" cellpadding="0"
                                                                               cellspacing="0">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td style="padding:7px 0 5px 0; font-size:14px; line-height:20px; color:#333333; font-weight:bold; letter-spacing:-1px; font-family:'Malgun Gothic', arial, 'Open Sans', sans-serif;">

                                                                                    <a href="#lnk" target="_blank"
                                                                                       title="새창"
                                                                                       style="font-size:14px; color:#333333; text-decoration:none;">이벤트
                                                                                        안내 이벤트 안내 이벤트 안내 이벤트 안내</a>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding:0 0 7px 0; font-size:14px; line-height:21px; color:#666666; letter-spacing:-1px; font-family:'Malgun Gothic', arial, 'Open Sans', sans-serif;">
                                                                                    안내문구 안내문구 안내문구 안내문구
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-size:14px; line-height:21px; color:#666666; letter-spacing:-1px; font-family:'Malgun Gothic', arial, 'Open Sans', sans-serif;">
                                                                                    2020-11-12 ~ 2020-11-30
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table style="padding:0 0 10px 0;" border="0" cellpadding="0"
                                                               cellspacing="0" width="100%">
                                                            <tbody>
                                                            <tr>
                                                                <td style="font-size:0; padding-bottom:55px; clear:both;">
                                                                    <div style="width:242px; float:left;">
                                                                        <table width="100%" border="0" cellpadding="0"
                                                                               cellspacing="0">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td height="98" align="center" style="">

                                                                                    <a href="#lnk" target="_blank"
                                                                                       title="새창"><img
                                                                                                src="https://placeimg.com/222/125"
                                                                                                alt="" border="0"></a>
                                                                                </td>
                                                                                <td width="20"></td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                    <div style="width:300px; float:left;">
                                                                        <table width="100%" border="0" cellpadding="0"
                                                                               cellspacing="0">
                                                                            <tbody>
                                                                            <tr>
                                                                                <td style="padding:7px 0 5px 0; font-size:14px; line-height:20px; color:#333333; font-weight:bold; letter-spacing:-1px; font-family:'Malgun Gothic', arial, 'Open Sans', sans-serif;">

                                                                                    <a href="#lnk" target="_blank"
                                                                                       title="새창"
                                                                                       style="font-size:14px; color:#333333; text-decoration:none;">이벤트
                                                                                        안내 이벤트 안내 이벤트 안내 이벤트 안내</a>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="padding:0 0 7px 0; font-size:14px; line-height:21px; color:#666666; letter-spacing:-1px; font-family:'Malgun Gothic', arial, 'Open Sans', sans-serif;">
                                                                                    안내문구 안내문구 안내문구 안내문구
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-size:14px; line-height:21px; color:#666666; letter-spacing:-1px; font-family:'Malgun Gothic', arial, 'Open Sans', sans-serif;">
                                                                                    2020-11-12 ~ 2020-11-30
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td width="30"></td>
                                    </tr>
                                    <tr style="background: #fff;">
                                        <td width="30"></td>
                                        <td align="center" style="padding-bottom: 30px;">
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tbody><tr>
                                                    <td style="padding:10px 25px 10px 25px; background:#1f7cd3;">
                                                        <a href="#lnk" target="_blank" title="새창" style="letter-spacing:-1px; margin:0; color:#fff; font-size:16px; text-decoration:none; font-family:'Malgun Gothic', arial, 'Open Sans', sans-serif;">사이트 자세히 보기</a>
                                                    </td>
                                                </tr>
                                                </tbody></table>
                                        </td>
                                        <td width="30"></td>
                                    </tr>
                                    <!-- footer :: start -->
                                    <tr>
                                        <td colspan="3" align="center"
                                            style="padding:30px 0; font-size:14px; color:#666666; line-height:24px; letter-spacing:-1px; font-family:'Malgun Gothic', arial, 'Open Sans', sans-serif;">
                                            본 메일은 발신 전용이므로 회신하실 경우 답변되지 않습니다.
                                            문의사항은 <a href="#lnk"
                                                     style="color:#1f7cd3; text-decoration:none; font-weight:bold;">[고객센터]</a>를
                                            이용하여 주시기 바랍니다.
                                            <br>
                                            <span style="color:#444444;">ⓒ 2020 by</span> 저작권
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="100"></td>
                                    </tr>
                                    <!-- footer :: end -->

                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
{%- endblock %}